{% extends 'base.html' %}
{% block title %}Announcements{% endblock %}

{% block content %}
    <div class="col-12 col-md-10 mx-auto my-5 full-screen-h px-2">
        <div class="text-center">
            <h1>Announcements</h1>
            <p>Important information, alerts, and notifications.</p>
            <hr>
        </div>

        <!-- Search bar and filter form -->
        <form method="get" action="{% url 'announcements' %}">
            <div class="mb-3">
                <!-- Search Bar -->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="search"
                           value="{{ search_term }}">

                    <!-- Search Button -->
                    <button class="btn btn-primary" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>

        <!-- Display Existing Announcements -->
        <div class="row">
            {% for announcement in announcements %}
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card hoverable mb-4 w-100">
                        <div class="card-img-top announcement-header"></div>
                        <div class="card-body d-flex flex-column">
                            <h5><a href="{% url 'announcement' announcement.id %}"
                                   class="text-decoration-none">{{ announcement.title }}</a></h5>

                            <hr>

                            <p class="card-text mb-auto">{{ announcement.content }}</p>
                            <p class="card-text">
                                <small class="text-muted">{{ announcement.time_created }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if allowed_user %}
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card hoverable mb-4 w-100">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <p class="card-text text-center">
                                <a class="btn btn-lg btn-success" href="{% url 'announcements_new' %}">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
