{% extends 'base.html' %}
{% block title %}Announcements{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1>Announcements</h1>

        <!-- Search bar and filter form -->
        <form method="get" action="{% url 'announcements' %}">
            <div class="mb-3">
                <!-- Search Bar -->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="search"
                           value="{{ search_term }}">

                    <!-- Search Button -->
                    <button class="btn btn-primary" type="submit">
                        Search
                    </button>

                    <!-- Create New Announcement Button -->
                    <button class="btn btn-success" type="button"
                            onclick="location.href='{% url 'announcements_new' %}'">
                        Create New Announcement
                    </button>
                </div>
            </div>
        </form>

        <!-- Display Existing Announcements -->
        <div class="row mt-5">
            {% for announcement in announcements %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5>{{ announcement.title }}</h5>

                            <hr>

                            <p class="card-text">{{ announcement.content }}</p>
                            <p class="card-text">
                                <small class="text-muted">{{ announcement.time_created }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
