{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ announcement.title }}
{% endblock %}

{% block content %}
    <div class="container my-5 full-screen-h">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="card">
                    <div class="card-img-top announcement-header"></div>
                    <div class="card-body">
                        <h1>{{ announcement.title }}</h1>
                        <p class="text-secondary">{{ announcement.time_created }}</p>

                        <hr>

                        <p>{{ announcement.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
