# Compiled Python files
*.pyc
__pycache__/

# Django development settings
*.sqlite3
media/
staticfiles/

# macOS system files
.DS_Store

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.env

# Project specific
config.json
