:root {
    --samford-blue: #0C2340;
    --samford-red: #BD1F2D;
    --samford-gray: rgba(193, 198, 200, 0.25);
    --samford-aqua: #64CCC9;
}

body {
    background: var(--samford-gray);
}

.bg-gradient {
    background-color: var(--samford-blue);
}

.full-screen-h {
    min-height: calc(100vh - 50px);
}

.full-screen-w {
    min-height: 100vw;
}

.active-page {
    color: white !important;
}

.text-sam-red {
    color: var(--samford-red);
}

.hoverable {
    transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.hoverable:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.scrollable-card-container {
    height: 30vh;
    overflow-y: auto;
}

.scrollable-card-container-alt {
    height: 68vh;
    overflow-y: auto;
}

.circle-icon {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon-text {
    font-size: 2rem;
}