:root {
    --samford-blue: #0C2340;
    --samford-red: #BD1F2D;
    --samford-gray: #C1C6C8;
    --samford-aqua: #64CCC9;
}

.bg-gradient {
    background-color: var(--samford-blue);
}

.full-screen-h {
    min-height: calc(100vh - 50px);
}

.full-screen-w {
    min-height: 100vw;
}