:root {
    --samford-blue: #0C2340;
    --samford-red: #BD1F2D;
    --samford-gray: #C1C6C8;
    --samford-aqua: #64CCC9;
}

.bg-gradient {
    background-color: var(--samford-blue);
}

.full-screen-h {
    min-height: calc(100vh - 50px);
}

.full-screen-w {
    min-height: 100vw;
}

.active-page {
    color: white !important;
}

.text-sam-red {
    color: var(--samford-red);
}

.hoverable {
    transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.hoverable:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.scrollable-card-container {
    height: 30vh;
    overflow-y: auto;
}

.scrollable-card-container-alt {
    height: 68vh;
    overflow-y: auto;
}

