{% extends 'base.html' %}

{% block title %}Chat Page{% endblock %}

{% block content %}
    <div class="col-12 mx-auto full-screen-h">
        <div class="container">
            <form id="room-form">
                <div class="mb-3">
                    <label for="roomName" class="form-label">Room Name</label>
                    <input type="text" class="form-control" id="roomName" placeholder="Enter room name">
                </div>
                <button type="submit" class="btn btn-primary" id="roomSubmit">Submit</button>
            </form>
        </div>
    </div>

    <script>
        document.querySelector('#roomName').focus();

        document.querySelector('#room-form').addEventListener('submit', function (e) {
            e.preventDefault(); // Prevent the form from submitting

            var roomName = document.querySelector('#roomName').value;
            var userName = "{{ user.username }}"; // Wrap template variable in double quotes

            // Redirect to the chat room with the roomName and username as query parameters
            window.location.replace(roomName + '/?username=' + userName);
        });
    </script>
{% endblock %}
