{% extends 'base.html' %}
{% load static %}

{% block title %}Chat Page{% endblock %}

{% block content %}
    <div class="container-fluid py-3">
        <div class="row">
            <!-- Available chats column -->
            <div class="col-md-4">
                <div class="card border-0 px-3 py-3 h-100">
                    <h1 class="mb-3">Chats</h1>
                    <div class="list-group list-group-flush scrollarea">
                        {% for chat in chats %}
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="d-flex justify-content-between align-items-center">
                                    <strong>{{ chat.name }}</strong>
                                    <small class="text-muted">{{ chat.last_updated }}</small>
                                </div>
                                <div class="mb-2 small">{{ chat.preview_message }}</div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Chat Room column -->
            <div class="col-md-8">
                <div class="card border-0 px-3 py-3 h-100">
                    <h1 id="roomTitle">Chat Room - Unknown</h1>
                    <hr>
                    <!-- Chat content container -->
                    <div id="chatWindow" class="px-3 py-3 fw-bolder chat-container"
                         style="height: 70vh; overflow-y: auto;"></div>

                    <hr>

                    <!-- Message Bar -->
                    <form id="messageForm" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <label for="message"></label>
                            <input id="message" name="message" type="text" class="form-control"
                                   placeholder="Type a message...">
                            <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/message-helpers.js' %}"></script>
    <script>
        const roomName = '{{ room }}'.toLowerCase().trim();
        const currentUsername = '{{ user.username }}';
        const chatContainer = document.querySelector('.chat-container');

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('roomTitle').innerText = 'Chat Room - #' + roomName;
        })

        // Fetch past messages
        fetch(`/chat/${roomName}/past_messages/`)
            .then(response => response.json())
            .then(data => {
                const messages = data.messages;
                for (let message_data of messages) {
                    addMessage(message_data, 'P');
                }
            });

        // Create a WebSocket for the given room
        const chatSocket = new WebSocket(`wss://${window.location.host}/wss/chat/${roomName}/`);

        // When a message is received...
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            addMessage(data, 'R');
        };

        // When the socket is closed...
        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        // When a message is sent...
        document.addEventListener('submit', function (e) {
            if (e.target && e.target.id === 'messageForm') {
                e.preventDefault();
                const messageInput = document.querySelector('.form-control');
                const message = messageInput.value;
                chatSocket.send(JSON.stringify({
                    'message': message
                }));
                messageInput.value = '';
            }
        });

        const addedMessages = new Set();  // To keep track of added messages

        function addMessage(data, source) {
            const uniqueId = `${data.timestamp}_${data.message}`;
            if (addedMessages.has(uniqueId)) {
                return;  // Skip adding the message if it already exists
            }
            addedMessages.add(uniqueId);  // Add the unique ID to the set

            let type = (currentUsername === data.author) ? "outgoing" : "incoming";
            chatContainer.insertAdjacentHTML('beforeend', `
                <!-- Message #${source}_${data.id} (U #${uniqueId}) -->
                <div class="msg my-3 msg-${type}">
                    <small class="msg-author">${data.author}</small><br>
                    ${data.message}<br>
                    <small class="msg-timestamp">${convertToLocalTime(data.timestamp)}</small>
                </div>
            `);
        }
    </script>
{% endblock %}

