{% extends 'base.html' %}
{% load static %}

{% block title %}Directory{% endblock %}

{% block content %}
    <div class="container my-5 full-screen-h">
        <h1>User Directory</h1>

        <!-- Search bar and role filter form -->
        <form method="get" action="{% url 'directory' %}">
            <div class="mb-3">
                <!-- Search Bar -->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="search"
                           value="{{ request.GET.search }}">

                    <!-- Filter Button -->
                    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#filterMenu" aria-expanded="false">
                        <i class="fas fa-filter"></i>
                    </button>

                    <!-- Search Button -->
                    <button class="btn btn-primary" type="submit">
                        Search
                    </button>
                </div>

                <!-- Collapsible Filter Menu -->
                <div class="collapse mt-2" id="filterMenu">
                    <div class="card card-body">
                        <p class="fw-bolder">Filter Settings</p>
                        <label for="role">Role:</label>
                        <label>
                            <select class="form-control" name="role">
                                <option value="all" {% if current_role_filter == 'all' %}selected{% endif %}>All Roles
                                </option>
                                <option value="student" {% if current_role_filter == 'student' %}selected{% endif %}>
                                    Student
                                </option>
                                <option value="faculty" {% if current_role_filter == 'faculty' %}selected{% endif %}>
                                    Faculty
                                </option>
                                <option value="staff" {% if current_role_filter == 'staff' %}selected{% endif %}>Staff
                                </option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </form>

        <!-- User cards -->
        <div class="row">
            {% for user in users %}
                <div class="col-md-2">
                    <div class="card mb-4">
                        {% if user.profile_pic %}
                            <img src="{{ user.profile_pic.url }}" class="card-img-top"
                                 alt="{{ user.first_name }} {{ user.last_name }}">
                        {% else %}
                            <img src="{% static 'images/default_profile_pic.jpg' %}" class="card-img-top"
                                 alt="{{ user.first_name }} {{ user.last_name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                            <a href="{% url 'view_profile' user.username %}" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <p>No users found.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
