{% extends 'base.html' %}
{% load static %}

{% block title %}Directory{% endblock %}

{% block content %}
    <form method="get" action="{% url 'directory' %}">
        <div class="col-12 col-md-10 mx-auto my-5 full-screen-h">
            <div class="text-center">
                <h1>User Directory</h1>
                <p>Browse profiles, find contact information, and connect with classmates.</p>
                <hr>
            </div>

            <div class="row">
                <div class="col-md-2 mb-4">
                    <!-- Filter Menu -->
                    <div class="card card-body" style="height: 100%">
                        <h2>Filter Results</h2>
                        <label for="role">Role:</label>
                        <label>
                            <select class="form-control" name="role">
                                <option value="all" {% if current_role_filter == 'all' %}selected{% endif %}>All Roles
                                </option>
                                <option value="student" {% if current_role_filter == 'student' %}selected{% endif %}>
                                    Student
                                </option>
                                <option value="faculty" {% if current_role_filter == 'faculty' %}selected{% endif %}>
                                    Faculty
                                </option>
                                <option value="staff" {% if current_role_filter == 'staff' %}selected{% endif %}>Staff
                                </option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-md-10">
                    <!-- Search bar and filter -->
                    <div class="mb-3">
                        <!-- Search Bar -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="search"
                                   value="{{ request.GET.search }}">

                            <!-- Search Button -->
                            <button class="btn btn-primary" type="submit">
                                Search
                            </button>
                        </div>
                    </div>

                    <!-- User cards -->
                    <div class="row flex-row d-flex align-items-stretch">
                        {% for user in users %}
                            <div class="col-6 col-md-2">
                                <a class="text-decoration-none" href="{% url 'view_profile' user.username %}">
                                    <div class="card mb-4">
                                        {% if user.profile_pic %}
                                            <img src="{{ user.profile_pic.url }}" class="card-img-top"
                                                 alt="{{ user.first_name }} {{ user.last_name }}">
                                        {% else %}
                                            <img src="{% static 'images/default_profile_pic.jpg' %}"
                                                 class="card-img-top"
                                                 alt="{{ user.first_name }} {{ user.last_name }}">
                                        {% endif %}
                                        <div class="card-body">
                                            <p class="card-title truncate">{{ user.first_name }} {{ user.last_name }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% empty %}
                            <div class="col-12">
                                <p>No users found.</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
