{% extends 'base.html' %}
{% load static %}

{% block title %}Directory{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1>User Directory</h1>
        <div class="row">
            {% for user in users %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        {% if user.profile_pic %}
                            <img src="{{ user.profile_pic.url }}" class="card-img-top"
                                 alt="{{ user.first_name }} {{ user.last_name }}">
                        {% else %}
                            <img src="{% static 'images/default_profile_pic.jpg' %}" class="card-img-top"
                                 alt="{{ user.first_name }} {{ user.last_name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                            <p class="card-text">
                                Role: {{ user.role }}<br>
                                Email: {{ user.email }}
                            </p>
                            <a href="{% url 'view_profile' user.username %}" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <p>No users found.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
