{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="col-12 mx-auto my-5 full-screen-h">
        <div class="row justify-content-center align-items-center full-screen-h col-10 mx-auto">
            <div class="col-md-6 position-relative">

                <div class="fw-bolder fs-1 chat-container">
                    <span class="msg msg-incoming">Everything you need,</span>
                    <span class="msg msg-outgoing">right when you need it.</span>
                </div>

                <p class="lead mt-5 text-justify">
                    Your go-to destination for effortless communication, event tracking, and staying in the loop with
                    what matters most in your law school journey. Need to check a date, connect with peers, or stay
                    updated on crucial announcements? We've got you covered. Join us and discover a world where
                    everything you need is just a click away.
                </p>

                <div>
                    <a href="{% url 'login' %}" class="btn btn-lg btn-primary rounded-pill">
                        Log In
                    </a>
                    <a href="{% url 'signup' %}" class="btn btn-lg btn-outline-primary rounded-pill">
                        Get Started
                    </a>
                </div>

            </div>
            <div class="col-md-6 text-center position-relative d-none d-md-block">
                <img class="img-fluid" src="{% static 'images/people/ideas.svg' %}" alt="People sharing ideas">
            </div>
        </div>
    </div>
{% endblock %}
